@import '~normalize.css';

html {
  --background-color: #e9e9e9;
  --color: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
  --active-color: rgb(198, 16, 16);
=======
  --active-color: rgb(201, 6, 6);
>>>>>>> 8673b67 (add server and start auth)
=======
  --active-color: rgb(54, 22, 22);
>>>>>>> 59a9c38 (edit players profile)
  --titles: #4eadec;
  --border: #151515;
  --hover: rgb(209, 209, 209);
  --main: rgb(227, 227, 227);
  --profile: rgb(220, 220, 220);
  --main-text: #151515;
<<<<<<< HEAD
<<<<<<< HEAD
  --no-photo-bg: #b6cccc;
=======
>>>>>>> 8673b67 (add server and start auth)
=======
  --no-photo-bg: #b6cccc;
>>>>>>> 431f668 (dev leagues)
  --buttons: #145886;
  --times: #cac7c7;
  --child-tabs: #145886;
  --complited: #35ba21;
  --complitedBr: #000;
  --childLink: #888686;
  --input: #f6f5f5;
  --todos-text: #151515;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> dfd4232 (create squad page)
  --table-bg: #e9e9e9;
  --gkCell: #4384a8;
  --dfCell: #6da0bc;
  --mfCell: #acc9d9;
  --atCell: #d5e4ec;
<<<<<<< HEAD
  --news-gradient: #4eadec;
  --search-wrap: rgb(187, 186, 186);
  --own-bg: rgb(172, 211, 224);
  --sec-button: #627be2;
  --isReaded: rgb(162, 161, 161);
=======
>>>>>>> 8673b67 (add server and start auth)
=======
>>>>>>> dfd4232 (create squad page)
}

html[data-theme='dark'] {
  --background-color: #2c2d2e;
  --color: #ccc;
  --active-color: rgb(240, 131, 177);
  --titles: #2f3030;
  --border: #ccc;
  --hover: rgb(115, 115, 115);
  --main: #3b3b3b;
  --profile: #2f3030;
  --main-text: #ccc;
<<<<<<< HEAD
<<<<<<< HEAD
  --no-photo-bg: #bfcece;
=======
>>>>>>> 8673b67 (add server and start auth)
=======
  --no-photo-bg: #bfcece;
>>>>>>> 431f668 (dev leagues)
  --buttons: rgb(173, 216, 230);
  --times: #1d1c1c;
  --child-tabs: #1d1c1c;
  --complited: #a9d620;
  --complitedBr: #a9d620;
  --childLink: #ccc;
  --input: #e9e9e9;
  --todos-text: #e9e9e9;
<<<<<<< HEAD
<<<<<<< HEAD
  --table-bg: #1d1c1c;
  --gkCell: #3f3f3f;
  --dfCell: #575757;
  --mfCell: #707070;
  --atCell: #848383;
  --news-gradient: #355d78;
  --search-wrap: #252525;
  --own-bg: rgb(189, 192, 192);
  --sec-button: rgb(137, 153, 237);
  --isReaded: rgb(91, 90, 90);
=======
>>>>>>> 8673b67 (add server and start auth)
=======
  --table-bg: #1d1c1c;
<<<<<<< HEAD
  --gkCell: #464646;
  --dfCell: #5d5d5d;
  --mfCell: #7b7b7b;
  --atCell: #959595;
>>>>>>> dfd4232 (create squad page)
=======
  --gkCell: #3f3f3f;
  --dfCell: #575757;
  --mfCell: #707070;
  --atCell: #848383;
>>>>>>> 80f6534 (add season select)
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
