.contentContainer {
  position: relative;
  margin: 20px;
  width: 100%;
}

.containerGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.routesGroup {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 48px;
}

.content {
  display: flex;
  margin: 30px;
}
