.main {
<<<<<<< HEAD
  margin-top: 105px;
  margin-bottom: 20px;
  margin-inline: calc((100% - 1140px) / 2);
  background-color: var(--main);
  width: 1140px;
  min-height: 600px;
  color: var(--main-text);
=======
  margin-block: 20px;
  margin-inline: calc((100% - 1140px) / 2);
  background-color: var(--main);
  width: 1140px;
<<<<<<< HEAD
>>>>>>> 8673b67 (add server and start auth)
=======
  // height: 100%;
>>>>>>> bc9de08 (add styles for auth)
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 4px 0 6px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 1140px) {
    width: calc(100% - 40px);
    margin-inline: 20px;
  }
}
