<<<<<<< HEAD
.dialogs {
  width: 70%;
}

.nameCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: var(--search-wrap);
}

.name {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.messagesCont {
  display: flex;
  flex-direction: column;
  height: calc(100% - 176px);
  padding: 20px;
  overflow-y: scroll;
}

.messagesWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

<<<<<<< HEAD
=======
=======
>>>>>>> a40623b (add messages logic)
.messages {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  max-width: 550px;
}

<<<<<<< HEAD
>>>>>>> 11853ed (add mock messages)
.messagesWrapOwn {
=======
.ownMessages {
>>>>>>> a40623b (add messages logic)
  align-items: end;
}

<<<<<<< HEAD
=======
.messagesNameWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messagesName {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.date {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  color: #848383;
}

.textWrap {
  border-radius: 10px;
  background-color: var(--buttons);
  color: var(--profile);
}

.textWrapOwn {
  background-color: var(--own-bg);
  color: #2f3030;
}

.text {
  display: inline-block;
  margin: 0;
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
<<<<<<< HEAD

>>>>>>> 11853ed (add mock messages)
.sendCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0px 10px;
  background-color: var(--search-wrap);
}

.textareaWrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.textarea {
  resize: none;
  width: 600px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--input);
  padding: 4px;
  &::placeholder {
    color: #848383;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
  &:valid {
    color: #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
}

.clip {
  height: 32px;
  width: 32px;
  color: var(--main-text);
}

.sendBtn {
  border: none;
  width: 110px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--sec-button);
  color: var(--main);
}
<<<<<<< HEAD

.messages {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  max-width: 550px;
}

.ownMessages {
  align-items: end;
}

.messagesNameWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messagesName {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.date {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  color: #848383;
}

.textWrap {
  border-radius: 10px;
  background-color: var(--buttons);
  color: var(--profile);
  position: relative;
}

.textWrapOwn {
  background-color: var(--own-bg);
  color: #2f3030;
  position: relative;
}

.text {
  display: inline-block;
  margin: 0;
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.readIcon {
  position: absolute;
  height: 22px;
  width: 22px;
  bottom: -4px;
  right: -1px;
  color: var(--isReaded);
}

.readedIcon {
  color: rgb(0, 128, 0);
}
=======
>>>>>>> 11853ed (add mock messages)
=======
>>>>>>> a40623b (add messages logic)
