.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 85px;
  background-color: var(--titles);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.img {
  width: 36px;
  border-radius: 10%;
}

.containerGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 48px;
}

.routeGroup {
  display: flex;
  position: relative;
  align-items: center;
  height: 48px;
}
