.header {
<<<<<<< HEAD
<<<<<<< HEAD
  position: fixed;
  top: 0;
  z-index: 4;
=======
  position: relative;
>>>>>>> 8673b67 (add server and start auth)
=======
  position: fixed;
  top: 0;
<<<<<<< HEAD
  z-index: 1;
>>>>>>> 59a9c38 (edit players profile)
=======
  z-index: 4;
>>>>>>> e49de05 (add all news)
  width: 100vw;
  height: 85px;
  background-color: var(--titles);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.img {
  width: 36px;
  border-radius: 10%;
}

.containerGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 48px;
}

.routeGroup {
  display: flex;
  position: relative;
  align-items: center;
  height: 48px;
}
<<<<<<< HEAD

.input_wrap {
  display: flex;
}

.form {
  position: relative;
  width: 180px;
  height: 32px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
}

.input {
  width: 168px;
  height: 28px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 6px;
  background: var(--input);
  &::placeholder {
    color: #848383;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
  &:valid {
    color: #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.input_btn {
  width: 32px;
  height: 32px;
  background: var(--input);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnImg {
  width: 20px;
  height: 20px;
}
=======
>>>>>>> 8673b67 (add server and start auth)
