$box-shadow-main: 0 4px 8px rgba(0, 0, 0, 0.3), 4px 0 6px rgba(0, 0, 0, 0.2);
$box-shadow-sec: 0 2px 4px rgba(0, 0, 0, 0.2);

.player {
  display: flex;
  gap: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.containerLeft {
  width: 700px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 11853ed (add mock messages)
.firstContainer {
  box-shadow: $box-shadow-main;
  margin-bottom: 10px;
}

.secondContainer {
<<<<<<< HEAD
=======
.container {
  width: 700px; //ex
}

.stats {
  box-shadow: $box-shadow-main;
  margin-top: 10px;
}

.statsContainer {
>>>>>>> 59a9c38 (edit players profile)
=======
>>>>>>> 11853ed (add mock messages)
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
<<<<<<< HEAD
=======
.containerLeft {
  width: 700px;
>>>>>>> 9c6ff80 (add market value chart)
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
}
>>>>>>> 11853ed (add mock messages)
.containerRight {
  width: 430px;
}
=======
>>>>>>> 59a9c38 (edit players profile)
=======

.seasons {
  width: 140px;
  margin-bottom: 8px;
  background-color: var(--profile);
  color: var(--main-text);
  border-radius: 4px;
  border: 0.2px solid var(--main-text);
}

=======
>>>>>>> e49de05 (add all news)
.containerRight {
  width: 430px;
}
>>>>>>> 80f6534 (add season select)
