.player {
  display: flex;
  gap: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.containerLeft {
  width: 700px;
}

.firstContainer {
  box-shadow: $box-shadow-main;
  margin-bottom: 10px;
}

.secondContainer {
=======
.container {
  width: 700px; //ex
}

.stats {
  box-shadow: $box-shadow-main;
  margin-top: 10px;
}

.statsContainer {
>>>>>>> 59a9c38 (edit players profile)
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
=======
.containerLeft {
  width: 700px;
>>>>>>> 9c6ff80 (add market value chart)
}
<<<<<<< HEAD
<<<<<<< HEAD
.containerRight {
  width: 430px;
}
=======
>>>>>>> 59a9c38 (edit players profile)
=======

.seasons {
  width: 140px;
  margin-bottom: 8px;
  background-color: var(--profile);
  color: var(--main-text);
  border-radius: 4px;
  border: 0.2px solid var(--main-text);
}

.containerRight {
  width: 430px;
}
>>>>>>> 80f6534 (add season select)
