.containerGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.setsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
  gap: 5px;
}

.imgSettings {
  width: 24px;
  height: 24px;
}

.currTheme {
  width: 50px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
}

.langWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.currLang {
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  color: var(--color);
}
