.newsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0px;
  width: 680px;
}

.headNews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ccc;
}

.item {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  user-select: none;
  height: 100%;
  width: 100%;
  background-color: var(--news-gradient);
}

.pages {
  display: flex;
  gap: 5px;
  width: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.page {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  border: 0.5px solid #151515;
}

.activePage {
  background-color: var(--news-gradient);
}

.headImg {
  width: 680px;
  height: 370px;
  z-index: 1;
}

.headTeaser {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  bottom: 80px;
  z-index: 2;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, var(--news-gradient), transparent);
}

.teaserBg {
  background-color: rgb(112, 211, 12);
}

.teaser {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 5px 10px;
  margin: 0px;
}

.headTitleCont {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: var(--news-gradient);
}

.headClubImg {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;
}

.headTitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.scroll {
  overflow: hidden !important;
  height: auto !important;
}

.tapeWrap {
  background-color: var(--titles);
  border: 1px solid var(--border);
  margin-bottom: 15px;
}

.tape {
  display: flex;
  gap: 10px;
  background-color: var(--main);
  margin: 10px;
}

.playerImg {
  width: 70px;
  height: 90px;
}

.tapeNewsWrap {
  width: 100%;
}

.topWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tapeTeaser {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 3px;
  margin: 0px;
}
.clubLogo {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-right: 3px;
}

.headlineNewsWrap {
  display: flex;
  align-items: center;
  height: calc(100% - 33px);
}

.headlineNews {
  margin: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 537a366 (add curr news)

.link {
  color: var(--main-text);
  text-decoration-line: none;
}
<<<<<<< HEAD
=======
>>>>>>> e49de05 (add all news)
=======
>>>>>>> 537a366 (add curr news)
