.auth {
  display: flex;
  justify-content: center;
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
  color: var(--main-text);
=======
  height: 610px;
>>>>>>> bc9de08 (add styles for auth)
=======
  min-height: 600px;
>>>>>>> bda062a (edit server for ts)
}
