.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 292px;
  padding-top: 40px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> bda062a (edit server for ts)

.btnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.text {
<<<<<<< HEAD
<<<<<<< HEAD
  line-height: 18px;
  font-size: 16px;
}
=======
>>>>>>> bc9de08 (add styles for auth)
=======
  line-height: 18p;
=======
  line-height: 18px;
>>>>>>> 266d9e0 (add profile editor)
  font-size: 16px;
}
>>>>>>> bda062a (edit server for ts)
