.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--main-text);
  height: 100%;
  min-height: calc(100vh - 170px);
  @media (max-height: 790px) {
    margin-top: -50px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  margin: 0;
  line-height: 28px;
  font-size: 24px;
  color: var(--active-color);
}

.linkWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

