.todo {
  width: 900px;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #6e6c6c;
  @media (max-width: 1740px) {
    width: 700px;
  }
  @media (max-width: 1170px) {
    width: 900px;
  }
}

.container {
  padding: 20px;
  @media (max-width: 600px) {
    padding: 5px;
  }
}

.text {
  color: var(--main-text);
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 10px 30px 10px;
}

// task field //

.addField {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  @media (max-width: 600px) {
    gap: 5px;
  }
}

.addInput {
  border: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  padding: 6px;
  flex: 1;
  color: #000;
  border-radius: 4px;
  background-color: var(--input);
  &::placeholder {
    color: #000;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: var(--main-text);
  width: 60px;
  padding: 0;
  cursor: pointer;
  &:hover {
    background-color: var(--complited);
    color: #000;
    border: 1px solid #6e6c6c;
  }
  @media (max-width: 600px) {
    width: 40px;
  }
}

.btnImg {
  width: 20px;
  height: 20px;
}
