.footer {
  width: 100vw;
  height: 60px;
  background-color: var(--footer);
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
  color: var(--color);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  line-height: 20px;;
}

.favicon {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}
